*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*点击高亮效果的清除*/
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

P {
    margin-bottom: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
    color: #333;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.f_left {
    float: left;
}

.f_right {
    float: right;
}


/* 清除浮动带来的高度影响 */

.clearFix::before,
.clearFix::after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}